@charset "utf-8";

html {
  /*Aplica fondo a todo el doc html*/
  background-color: rgb(248, 248, 248);
}

/*

h1,p { //aplica solo a los elementos  <h1> y <p>
    font-size: 10px;
}

* { //aplica a todos los elementos
    font-size: 10px;
}

.title, p { //aplica a las id:"title" y a <p>
  color: red;
}

article p { //aplica a todos los <p> que estan denro de <article>
  color: red;
}

.main p { //aplica a todos los elementos <p> que estan dentro de los elementos con class= "main"
  color: red;
}

article > p { aplica solo a los elemntos que estan de bajo de article no asi a los subelemntos que estan dentro de los elemnts dentro de article
  color: red;
  //Tambien se puede espesificar la gerarquia con "artículo > div > p"
}

 //Todas todos estos metodos para aplicar estilo tienen un orden de prioridad
 Esto se puede consultar en google en caso que lo necesites 
*/

#top {
  background-color: #23282c;
}

.section_inner {
  /*Margen para los articulos (arriba, lados y abajo)*/
  padding: 50px 10% 30px;
  color: #680000;

}

.key {
  height: 500px;
  /*background-position / background-size / background-repeat / background-image */
  background: center / cover no-repeat url("../images/sample_key.jpg");

  margin-top: 0;
  /* Elimina el margen superior del elemento con clase "key" */

  display: flex;
  /* Habilita flexbox para centrar contenido */
  align-items: center;
  /* Centra verticalmente */


  font-family: 'Josefin Sans', sans-serif;
  /*fuente extraida de google fonts*/
  font-weight: bold;
  /*aplica negrita*/
}

.key h1 {
  font-size: 2.5rem;
  /*Dimencion del fondo*/
}

.content-container {
  text-align: left;
  /* Alinea los textos a la izquierda y los mantiene horizontalmente */
}

.section_title {
  font-family: 'Open Sans', sans-serif;
  /*fuente extraida de google fonts*/
  font-weight: bold;
  text-align: center;
  /*Centra el texto*/
  margin-bottom: 50px;
  /*Espacio en blanco debajo del elemto en donde se aplica este margen*/
}

.content {
  display: flex;
  /* Utiliza flexbox para organizar los elementos en una fila */
  justify-content: space-between;
  /* Separa los elementos al máximo en la fila */
}

.content p {
  width: 60%;
  /* Establece el ancho del 60% para el párrafo de texto */
}

.content img {
  width: 35%;
  /* Establece el ancho del 35% para la imagen */
}

.menu_title {
  display: inline-block;
  /*hace que el elemento sea un bloque con propiedades de bloque, pero se muestra en la misma línea que otros elementos.*/
  font-family: 'Open Sans', sans-serif;
  /*fuente extraida de google fonts*/
  font-size: 1.5rem;
  /*tamaño de la fuente (rem: unidad relativa del elemnto padre)*/
  color: #42210b;
  border-bottom: solid #42210b 1px;
  /*borde en la perte inferior del elemtno*/
  margin-bottom: 20px;
  /*margin inferior*/
}

.articleMenu {
  background-image: url('../images/sample_menu_bg.jpg');
  background-size: cover;
  /* La imagen se ajusta para cubrir completamente el fondo del artículo */
  background-attachment: fixed;
  /* Hace que el fondo sea fijo mientras se desplaza el contenido */
  background-repeat: no-repeat;
  /* Evita que la imagen de fondo se repita */
  background-position: center bottom;
  /* Ajusta la posición vertical hacia la parte inferior */
}

.center {
  text-align: center;
  /*centra el texto*/
}

.horizontal-list {
  display: flex;
  /* Utiliza flexbox para alinear elementos horizontalmente */
  justify-content: space-between;
  /* Coloca espacio entre los elementos */
  list-style: none;
  /* Elimina los marcadores de lista */
  padding: 0;
  /* Elimina el relleno predeterminado de la lista */
}

.horizontal-list li {
  width: 49%;
  /* Establece un ancho del 49% para cada elemento */
  margin-right: 1%;
  /* Agrega un margen derecho del 1% para separar los elementos */
  background-color: white;
  /* Establece un fondo blanco */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pancake-image {
  flex: 0 0 55%;
  /* La imagen ocupa el 55% del ancho total y no se ajusta */
}

.pancake-content {
  flex: 1;
  /* El contenido de texto ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  /* Agrega espacio entre la imagen y el texto */
}

.price {
  align-self: flex-end;
}

.menu-list {
  display: flex; /* Usar flexbox para alinear elementos horizontalmente */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente fila si no caben */
  justify-content: space-between; /* Distribuir uniformemente los elementos a lo largo del contenedor */
  list-style: none; /* Eliminar los marcadores de lista predeterminados */
  padding: 0; /* Eliminar relleno interno */
  background: white; /* Establecer un fondo blanco */
  margin: 20px;/* Agregar un margen exterior de 20px */
}

.menu-list .menu-item {
  width: 49%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.coffee_menu_image {
  max-width: 20%;
  margin: 20px;
}

.menu-details {
  flex: 1;
  padding: 10px;
  max-width: 80%;

}


/*
img {
  width: 500px;
  height: 250px;
  background: pink;
  object-fit: contain; //La imagen se redimenciona para que sea visible en su totalidad
}*/

.coffee_menu_image {
  width: 20%;
  border-radius: 50%;
  /*Da un borde de 50% para formar un circulo perfecto. Se puede ajustar para lograr otras formas con bordes redondeados*/
}

.header_nav {
  background: linear-gradient(90deg, #4d1717 20%, rgba(112, 62, 62, 0.6) 60%);
  /*Establece un fondo negro con trasnparencia de 60%*/
  display: flex;

  height: 60px;
  justify-content: space-between;
  /* distribuye los elementos horizontalmente para que haya espacio igual entre ellos, lo que coloca el primer elemento al comienzo y el último al final.*/
  align-items: stretch;

  position: fixed;
  /*fija el elemento en una posición específica en la ventana del navegador, de modo que permanece visible incluso cuando se desplaza la página.*/
  top: 0;
  /*coloca el elemento fijo en la parte superior de la ventana del navegador.*/
  width: 100%;
  /* hace que el ancho del elemento fijo sea igual al 100% del ancho de la ventana, lo que lo estira para que cubra toda la pantalla horizontalmente.*/
}

.global_nav_item {
  color: #fff;
  text-decoration: none;

  display: flex;
  align-items: center;
  /*se usa en un contenedor flex para alinear verticalmente los elementos en el centro del contenedor.*/
  padding: 0 20px;
  /*establece un relleno de 0 píxeles en la parte superior e inferior y 20 píxeles en los lados izquierdo y derecho del elemento.*/
}

.global_nav_item:hover {
  /*aplica estilos cuando el cursor pasa sobre elementos con la clase */
  background: #fff;
  color: #42210b;
}

.global_nav {
  display: flex;
  /*permite crear diseños flexibles y controlar la distribución y alineación de elementos en un contenedor.*/
  list-style: none;
  /* Elimina los puntos de viñeta */

  align-items: stretch;
  /*estira elementos verticalmente para igualar su altura dentro de un contenedor flex.*/
}

.logo {
  width: 120px;
  /*encho del link. espacio donde se encuentra el logo */
  display: flex;
  /*Pripiedades flex*/
  align-items: center;
  /*Centralizado del item*/
}

.logo img {
  width: 100%;
  /*ancho de la imagen logo*/
}

.access-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Estilos para el Access*/
.menu {
  width: 49%;
  padding: 20px;
  box-sizing: border-box;
}

dl {
  display: flex;
  margin: 20px;
}

dt {
  width: 80px;
  /* Establece un ancho fijo para los elementos <dt> */
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/*Inicio de estilos para el footer*/

footer {
  background-color: #251e19;
  /* Color de fondo del footer */
  color: white;
  /* Color del texto en el footer */
  height: 75px;
  /* Altura del footer */
  display: flex;
  /* Usa flexbox para controlar la disposición */
  justify-content: center;
  /* Centra horizontalmente los elementos en el footer */
  align-items: center;
  /* Centra verticalmente los elementos en el footer */
  flex-direction: column;
  /* Coloca los elementos en una columna */
  padding: 5px 0 ;
  /* Espaciado interno  */
}

nav ul {
  list-style: none;
  /* Quita las viñetas de la lista */
  margin: 0;
  /* Elimina el margen exterior de la lista */
  padding: 0;
  /* Elimina el relleno de la lista */
  display: flex;
  /* Usa flexbox para la lista de menús */
  align-items: center;
  /* Centra verticalmente los elementos en el footer */
}

nav ul li {
  margin-right: 20px;
  /* Espacio entre elementos de la lista de menús */
}

nav ul a {
  text-decoration: none;
  /* Quita el subrayado de los enlaces */
  color: white;
  /* Color del texto de los enlaces */
}

nav img {
  max-height: 80px;
  /* Controla la altura máxima de la imagen */
  max-width: 80px;
  /* Controla el ancho máximo de la imagen */
  height: auto;
  /* Mantiene la relación de aspecto de la imagen */
}

.copyright {
  text-align: center;
  /* Centra el texto de copyright */
  /* Toma todo el espacio restante en el footer */
}